*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
body{
    background: #141414;
}

.header{
    background: #141414;
    padding: 10px 0;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-list{
    display: flex;
    gap: 80px;
}
.header-link{
    font-family: "montserrat";
    font-weight: 500;
    font-size: 16px;
    color: #f0f0f0; 
    transition: 500ms;   
}
.header-link:hover{
    color: red;
}
.intro{
    background: url(../images/intro.jpg) no-repeat bottom /cover;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 11px;
}
.intro-title{
    font-family: "montserrat";
font-weight: 600;
font-size: 140px;
color: #b31d1e;
}
.intro-link{
font-family: "montserrat";
font-weight: 800;
font-size: 24px;
color: #141414;
background: linear-gradient(135deg, #ffa600 0%, #e41818 100%);
border-radius: 4px;
max-width: 265px;
height: 64px;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.info-left-title{
    max-width: 540px;
    width: 100%;
}

.intro-left-text{
    max-width: 540px;
    width: 100%;
}
.info-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    font-family: "montserrat";
font-weight: 700;
font-size: 40px;
color: #eb3a13;
}
.intro-left-text{
    font-family: "montserrat";
font-weight: 500;
font-size: 20px;
color: #f0f0f0;
}

.text{
    margin-top: 30px;
    margin-bottom: 40px;
}

.info{
    padding-top: 114px;
    padding-bottom: 82px;
}
.gallery{
    padding-top: 82px;
    padding-bottom: 90px;

}
.gallery-box{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.gallery-box-img{
    border-radius: 4px;
}
.about{
    padding-top: 90px;
    padding-bottom: 120px;
}
.about-text{
    font-family: "montserrat";
font-weight: 500;
font-size: 20px;
color: #f0f0f0;
margin-top: 30px;
margin-bottom: 152px;
}

.about-img{
    border-radius: 4px;
}

.footer{
    background: #1f1f1f;
    padding-top: 30px;
    padding-bottom: 62px;
}

.footer-left{
    max-width: 350px;
    width: 100%;
}

.footer-form{
    display: flex;
    flex-direction: column;
}

.footer-form-input{
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px solid #f0f0f0;
    padding: 8px 0;
    font-family: "fustat";
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #f0f0f0;
}

.footer-form-input::placeholder{
    font-family: "fustat";
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #f0f0f0;
}
.footer-form-btn{
    background: linear-gradient(135deg, #ffa600 0%, #e41818 100%);
    border-radius: 4px;
    height: 36px;
    border: none;
    font-family: "montserrat";
    font-weight: 600;
    font-size: 14px;
    line-height: 129%;
    text-align: center;
    color: #f0f0f0;
    margin-top: 30px;
}
.footer-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-right{
    display: flex;
    gap: 51px;
}

.footer-item-title{
    font-family: "Montserrat";
font-size: 16px;
line-height: 90%;
color: #f0f0f0;
margin-bottom: 30px;
}

 .footer-item-list{
display: flex;
flex-direction: column;
gap: 30px;

 }


.footer-item-link{
    font-family: "montserrat";
font-weight: 500;
font-size: 14px;
line-height: 140%;
color: #f0f0f0;
}

@media(max-width:1140px){
    .gallery-box-img{
        width: 70%;
    }
    .gallery-box{
        justify-content: center;
    }
    .gallery-title{
        text-align: center;
    }
    .about-img{
        width: 100%;
    }
    .info-box{
        flex-direction: column;
        gap: 30px;
    }
    
}
@media(max-width: 900px){
    .intro{
        height: 400px;
    }
    .intro-title{
        font-size: 40px;
    }
    .intro-link{
        font-size: 20px;
        max-width: 150px;
        height: 40px;
    }
    .footer-box{
        flex-direction: column;
        gap: 30px;
    }
}
@media(max-width:600px){
    .header-container{
        flex-direction: column;
        gap: 15px;
    }
    .info-right-img{
        width: 100%;
    }
    .header-list{
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .about-text,
    .intro-left-text{
        font-size: 40px;
    }
    .title{
        text-align: center;
        font-size: 20px;
    }

}